[submodule "vendor/wav2png"]
	path = vendor/wav2png
	url = https://github.com/beschulz/wav2png
[submodule "vendor/qtjack"]
	path = vendor/qtjack
	url = https://github.com/cybercatalyst/qtjack
[submodule "vendor/WaveformWidget"]
	path = vendor/WaveformWidget
	url = https://github.com/nzaillian/WaveformWidget
[submodule "vendor/radit-essential"]
	path = vendor/radit-essential
	url = https://github.com/jfperini/radit-essential
[submodule "vendor/libsndfile"]
	path = vendor/libsndfile
	url = git://github.com/erikd/libsndfile.git
[submodule "vendor/audiowaveform"]
	path = vendor/audiowaveform
	url = https://github.com/bbcrd/audiowaveform
